// Colors.
$primary-color: #13c192;
$secondary-color: #444c52;
$tertiary-color: #9c9c9c;
$danger-color: #1d1c43;

// Fonts.
$font-family-body: 'Roboto', sans-serif;
$font-family-heading: 'Roboto', sans-serif;

// Spacing and styles.
$spacing: 1rem;
$border-radius: 0.4rem;
$box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);